{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">All Registered Cases</h2>

    <div class="card shadow p-4">
        <table class="table table-bordered table-hover align-middle">
            <thead class="table-dark text-center">
                <tr>
                    <th>#</th>
                    <th>Case Title</th>
                    <th>Investigator</th>
                    <th>Verdict</th>
                    <th>Confidence</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for case in cases %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td>{{ case.case_title }}</td>
                    <td>{{ case.investigator.username }}</td>
                    <td>
                        {% if case.video_verdict == "AI Generated" %}
                            <span class="badge bg-danger">{{ case.video_verdict }}</span>
                        {% elif case.video_verdict == "Real" %}
                            <span class="badge bg-success">{{ case.video_verdict }}</span>
                        {% else %}
                            <span class="badge bg-danger">FAKE</span>
                        {% endif %}
                    </td>
                    <td class="text-center">{{ case.video_confidence|floatformat:2 }}</td>
                    <td class="text-center">
                        <a href="view_case_analysis_admin?id={{case.id}} " class="btn btn-sm btn-primary">
                            View Details
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No cases found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
